<h1>Enter Your Car Details</h1>
<%= simple_form_for @car do |f| %>
  <%= f.input :name %>
  <br />
  <br />
  <%= f.input :description %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-danger' %>
<% end %>